
.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */

  
}

.header {
  grid-area: h;
  background-color: rgb(52, 118, 180);
}

.header img {
	width: 80px;
}

.nav {
  grid-area: n;
  background-color: #5da380;
}

.content {
  grid-area: c;
  background-color: rgb(158, 67, 123);
}
