.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
  
}

.dialogsItems .active {
  color: gold;
}


.dialog {
	text-decoration: none;
	color: aliceblue;
}

.messages {
  padding: 10px;
}

.messages .active {
  color: gold;
}

.message {
	color: rgb(9, 40, 68);
	padding: 10px;
}
